<ion-view ng-controller="expHotCtrl">
  <ion-content>
    <ul class="x-grid">
      <li ng-repeat="i in emotionList track by $index"
        ng-click="openEmotion(emotionMap[i])">
        <img ng-src="{{emotionMap[i].full_url}}" alt="thumbnail">
      </li>
    </ul>
  </ion-content>
  <!-- <div layout="column" layout-fill layout-align="top center">
    <md-grid-list
      md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
      md-row-height-gt-md="1:1" md-row-height="2:2"
      md-gutter="12px" md-gutter-gt-sm="8px" >

      <md-grid-tile class="gray"
          md-rowspan="1" md-colspan="1"
          ng-repeat="i in emotionList track by $index"
          ng-click="goDetail(pkg)">
      </md-grid-tile>

    </md-grid-list>
    <div>
      <md-button ng-click="toggleLeft()"
        class="md-primary" hide-gt-md>
        Toggle left
      </md-button>
    </div>
    <div>
      <md-button ng-click="toggleRight()"
        class="md-primary">
        Toggle right
      </md-button>
    </div>
  </div>
  <div flex></div> -->
</ion-view>