<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Electron Boilerplate</title>

    <!-- Angular Material CSS now available via Google CDN; version 0.10 used here -->
    <link rel="stylesheet" href="vendor/angular/angular-material.min.css">
    <link rel="stylesheet" href="vendor/ionic/css/ionic.min.css">

    <link href="./stylesheets/main.css" rel="stylesheet" type="text/css">

    <script src="vendor/electron_boilerplate/env_config.js"></script>
    <script src="vendor/electron_boilerplate/context_menu.js"></script>
    <script src="vendor/electron_boilerplate/external_links.js"></script>

    <script src="vendor/lodash.js"></script>
    <!-- Angular Material Dependencies -->
    <script src="vendor/ionic/js/ionic.js"></script>
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular/angular-animate.min.js"></script>
    <script src="vendor/angular/angular-sanitize.min.js"></script>
    <script src="vendor/angular/angular-ui-router.min.js"></script>
    <script src="vendor/angular/angular-aria.min.js"></script>

    <script src="vendor/ionic/js/ionic-angular.js"></script>

    <!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
    <script src="vendor/angular/angular-material.min.js"></script>

    <!-- End Angular -->
    <script src="app.js"></script>

</head>
<body ng-app="MyApp">
  <div ng-controller="AppCtrl" layout="column" class="app-container">
    <section layout="row" flex>
      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">Sidenav Left</h1>
        </md-toolbar>
        <md-content layout-padding ng-controller="LeftCtrl">
          <md-button ng-click="close()" class="md-primary" hide-gt-md>
            Close Sidenav Left
          </md-button>
          <section hide-md show-gt-md>
            <h2>Main</h2>
            <ul>
              <li ui-sref="exp-latest">最新</li>
              <li ui-sref="exp-hot">热门</li>
              <li ui-sref="exp-plaza">表情广场</li>
            </ul>

            <h2>个人</h2>
            <ul>
              <li>Profile</li>
              <li>喜欢</li>
              <li>收藏</li>
            </ul>

            <h2>工具</h2>
            <ul>
              <li>颜文字</li>
              <li>emojo</li>
              <li>王尼玛</li>
            </ul>

            <h2>表情合集 +</h2>
          </section>
        </md-content>
      </md-sidenav>

      <!-- Main Container -->
      <md-content flex layout-padding  ui-view></md-content>

      <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
        <md-toolbar class="md-theme-light">
          <h1 class="md-toolbar-tools">Sidenav Right</h1>
        </md-toolbar>
        <md-content ng-controller="RightCtrl" layout-padding>
          <md-button ng-click="close()" class="md-primary">
            Close Sidenav Right
          </md-button>
        </md-content>
      </md-sidenav>
    </section>
  </div>
</body>
</html>
