<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Electron Boilerplate</title>

    <!-- Angular Material CSS now available via Google CDN; version 0.10 used here -->
    <link rel="stylesheet" href="vendor/angular/angular-material.min.css">
    <link rel="stylesheet" href="vendor/ionic/css/ionic.min.css">

    <link href="./stylesheets/main.css" rel="stylesheet" type="text/css">

    <script src="vendor/electron_boilerplate/env_config.js"></script>
    <script src="vendor/electron_boilerplate/context_menu.js"></script>
    <script src="vendor/electron_boilerplate/external_links.js"></script>

    <script src="vendor/lodash.js"></script>
    <!-- Angular Material Dependencies -->
    <script src="vendor/ionic/js/ionic.js"></script>
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular/angular-animate.min.js"></script>
    <script src="vendor/angular/angular-sanitize.min.js"></script>
    <script src="vendor/angular/angular-ui-router.min.js"></script>
    <script src="vendor/angular/angular-aria.min.js"></script>

    <script src="vendor/ionic/js/ionic-angular.js"></script>

    <script src="vendor/ionic-image-lazy-load.js"></script>

    <!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
    <script src="vendor/angular/angular-material.min.js"></script>

    <!-- End Angular -->
    <script src="app.js"></script>

</head>
<body ng-app="MyApp">
  <div ng-controller="AppCtrl" layout="column" class="app-container">
    <section layout="row" flex>
      <md-sidenav class="x-sidenav-menu md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">

        <!-- <md-menu-content>
        <h2>Main</h2>
          <md-menu-item>
            <md-button>
              最新
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button>
              热门
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button ng-click="ctrl.toggleNotifications()">
              <md-icon md-svg-icon="social:notifications-{{ctrl.notificationsEnabled ? 'off' : 'on'}}"></md-icon>
              {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
            </md-button>
          </md-menu-item>
        </md-menu-content> -->

        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">Look表情</h1>
        </md-toolbar>

        <md-content layout-padding ng-controller="LeftCtrl">
          <!-- <md-button ng-click="close()" class="md-primary" hide-gt-md>
            Close Sidenav Left
          </md-button> -->
          <section hide-md show-gt-md>
            <h2>Main</h2>
            <ul>
              <md-button ui-sref="exp-latest"
                ui-sref-active="active">
                <i class="ion-paper-airplane"></i>
                最新
              </md-button>
              <md-button ui-sref="exp-hot"
                ui-sref-active="active">
                <i class="ion-arrow-graph-up-right"></i>
                热门
              </md-button>
              <md-button ui-sref="exp-plaza"
                ui-sref-active="active">
                <i class="ion-stats-bars"></i>
                表情广场
              </md-button>
            </ul>
            <h2>个人</h2>
            <ul>
              <md-button ui-sref="exp-latest">
                <i class="ion-calendar"></i>
                Profile
              </md-button>
              <md-button ui-sref="exp-hot">
                <i class="ion-coffee"></i>
                喜欢
              </md-button>
              <md-button ui-sref="exp-plaza">
                <i class="ion-cloud"></i>
                收藏
              </md-button>
            </ul>
            <h2>工具</h2>
            <ul>
              <md-button ui-sref="exp-latest">
                <i class="ion-at"></i>
                颜文字
              </md-button>
              <md-button ui-sref="exp-hot">
                <i class="ion-aperture"></i>
                emojo
              </md-button>
              <md-button ui-sref="exp-plaza">
                <i class="ion-crop"></i>
                王尼玛制作
              </md-button>
            </ul>
            <h2>
              表情合集
              <i class="ion-plus-circled"></i>
            </h2>
          </section>
        </md-content>

      </md-sidenav>

      <!-- Main Container -->
      <!-- <md-content flex layout-padding ui-view></md-content> -->
      <ion-nav-view></ion-nav-view>

      <md-sidenav class="x-sidenav-info md-sidenav-right md-whiteframe-z2" md-component-id="right">
        <md-content ng-controller="RightCtrl" layout-padding>
          <div class="hero-image padding">
              <img ng-src="{{Emotion.full_url}}">
          </div>
          <div class="padding action-list">
              <button class="button button-block" ng-click="sendTo('wechat', Emotion)">
                  <i class="icon ion-social-reddit-outline"></i>
                  微信分享
              </button>
              <button class="button button-block" ng-click="sendTo('qq', Emotion)">
                  <i class="icon ion-social-github-outline"></i>
                  QQ分享
              </button>
          </div>

          <md-button ng-click="close()" class="md-primary">
            关闭
          </md-button>
        </md-content>
      </md-sidenav>
    </section>
  </div>
</body>
</html>
