html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-container {
  height: 100%;
  width: 100%;
}

md-grid-tile img {
  width: 100%;
  height: 100%;
}

.pg-exp-plaza {

}

md-sidenav.x-sidenav-menu {
  min-width: 16vw;
  width: 16vw;
  max-width: 16vw;
}

.x-sidenav-info {
  min-width: 35vw;
  width: 35vw;
  max-width: 35vw;

  text-align: center;
  img {
    width: 98%;
  }
}

.x-grid {
  & > *, .tile {
    width: 20vw;
    height: 20vw;
    margin: .5vw;
    border: 1px solid #eee;
    display: inline-block;
    position: relative;

    .image-loader-container {
      width: 3vw;
      height: 3vw;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .title {
      position: absolute;
      bottom: 0;
      background: rgba(0,0,0,.7);
      text-align: center;
      color: #fff;
      width: 100%;
      line-height: 30px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
